name: Test and Release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write # Required for npm OIDC trusted publishing
  contents: write # Required for changesets to create release PRs
  pull-requests: write # Required for changesets to create/update PRs

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup pnpm 9.7.0
        uses: pnpm/action-setup@v4
        with:
          version: 9.5.0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
          scope: "@bragdoc"

      - name: Install npm # Should not need this from node 24 onwards
        run: npm install -g npm@latest

      - name: Install Dependencies
        run: pnpm install

      - name: Run Tests
        env:
          OPENAI_API_KEY: nope
        run: cd packages/cli && pnpm test

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm --filter=@bragdoc/cli run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
